.dark-mode {
    background-color: $grisDark;
    
    p {
        color: $blanco;
    }

    h1, h2, h3, h4, a {
        color: $grisClaro;
    }

    .anuncio, .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100);
        }
    }

    .nosotros blockquote {
        color: $gris;

    }

    .resumen-entrada {
        background-color: $grisOscuro;
        padding: 1rem 2rem;
    }
    
    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }
        input:not( [type="submit"], [type="radio"] ),
        textarea,
        select {
            background-color: $grisOscuro;
            color: $gris;
            border: 1px solid $grisOscuro;
            &::placeholder {
                color: $grisPH;
            }
        }
    }
    td {
        color: $grisClaro;
    }
    .propiedades-tr:nth-child(odd) { background-color: $grisOscuro; }
    .propiedades-tr:nth-child(even) { background-color: $grisPH; }
}