.nosotros {
    @include tablet {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: center;
    }

    p:first-of-type::first-letter {
        font-weight: $bold;
        font-size: 2.5rem;
    }
    
    blockquote {
        font-size: 2.5rem;
        font-weight: $bold;
        margin-left: 0;
        // font-style: italic;
    }
}